@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";
.nav {
  padding: 42px 5px;
  .logo {
    font-weight: 700;
    font-size: 25px;
    line-height: 29px;
    color: #000000;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__items {
    margin-left: 100px;
    width: 500px;
    display: flex;
    justify-content: space-between;

    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
  }
  &__item {
    padding-bottom: 2px;
  }
  &__item-link {
    position: relative;
    color: #000;
    transition: opacity 0.3s ease;
    padding-bottom: 2px;
    &::after {
      position: absolute;
      content: "";
      left: 50%;
      right: 50%;
      bottom: -1px;
      height: 2px;
      background-color: rgba(#000000, 0.7);
      transition: all 0.4s ease;
    }
    &:hover {
      transition: opacity 0.3s ease;
      opacity: 0.9;
      &::after {
        transition: all 0.4s ease;
        left: 0;
        right: 0;
      }
    }
  }
}
.header {
  position: relative;
  padding: 10px 0 52px;
  &__inner {
    height: 510px;
    z-index: -2;
    position: relative;
    background-image: url("../images/bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    &::after {
      position: absolute;
      z-index: -1;
      border-radius: 10px;
      content: "";
      left: 0;
      top: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        90deg,
        #b3e8be 21.27%,
        rgba(227, 227, 227, 0) 86.66%
      );
    }
  }
  &__info {
    padding: 80px 0 0 96px;
  }
  &__title {
    font-weight: 700;
    font-size: 55px;
    line-height: 64px;
    max-width: 422px;
  }
  &__text {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    max-width: 480px;
  }
  &__content {
    position: absolute;
    width: 1100px;
    display: flex;
    justify-content: space-between;
    padding: 26px 43px;
    border-radius: 20px;
    box-shadow: -22px 23px 25px rgba(191, 191, 191, 0.25),
      22px 22px 25px rgba(191, 191, 191, 0.25);
    background-color: white;
    left: 50%;
    bottom: -20%;
    transform: translate(-50%, -50%);
  }
  &__facilities-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    margin-bottom: 11px;
  }
  &__facilities-items {
    width: 410px;
    display: flex;
    justify-content: space-between;
  }
  &__facilities-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.3s ease;

    &:hover {
      transition: all 0.3s ease;
      transform: scale(1.1);
    }
  }
  &__facilities-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 73px;
    height: 73px;
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(0, 0, 0, 0.25);
  }
  &__facilities-itemtitle {
    margin-top: 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
  }
  &__book-title {
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    margin-bottom: 12px;
  }
  &__book-text {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 34px;

    color: #a0a0a0;
  }
  &__book-btn {
    display: inline-block;
    position: relative;
    color: #fff;
    padding: 13px 15px 14px 52px;
    background: #0500ff;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;

    &:active {
      transition: all 0.3s ease;
      transform: translateY(2px);
    }
    &:hover {
      transition: all 0.2s ease;

      opacity: 0.8;
    }
    &::after {
      position: absolute;
      content: "";
      left: 15px;
      top: 50%;
      transform: translateY(-50%);
      width: 20px;
      height: 20px;
      background-size: cover;
      background-repeat: no-repeat;
      background-image: url("../images/clock.svg");
    }
  }
  &__search {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__search-label {
    position: relative;
    input[type="search"]::-webkit-search-decoration,
    input[type="search"]::-webkit-search-cancel-button,
    input[type="search"]::-webkit-search-results-button,
    input[type="search"]::-webkit-search-results-decoration {
      display: none;
    }
  }
  &__search-inputbtn {
    position: absolute;
    right: 14px;
    top: 10px;
    transition: all 0.2s ease;

    &:hover {
      transition: all 0.2s ease;
      transform: scale(1.1);
    }
  }
  &__search-input {
    border: 1px solid rgba(0, 0, 0, 0.25);
    padding: 9px 39px 8px 16px;
    border-radius: 20px;
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    &::placeholder {
      font-size: 25px;
      line-height: 29px;
      color: #7d7d7d;
    }
  }
  &__search-content {
    display: flex;
    justify-content: space-between;
    width: 255px;
  }
  &__search-item {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    transition: all 0.2s ease;
    &:hover {
      transition: all 0.2s ease;
      transform: scale(1.1);
    }
  }
}
.choice {
  padding: 70px 5px 50px;
  &__title {
    text-align: center;
    font-weight: 900;
    font-size: 30px;
    line-height: 35px;
    margin-bottom: 52px;
  }
  &__wrapper {
    position: relative;
    height: 471px;
    background: linear-gradient(to top, #e1f0f4 50%, transparent 50%);
    border-radius: 10px;
  }
  &__items {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 30px;
    margin-bottom: 20px;
  }
  &__item {
    position: relative;
    transition: all 0.2s ease;
    border-radius: 10px;
    &:hover {
      transition: all 0.2s ease;
      transform: scale(1.05);
    }
  }
  &__content {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 10px 19px 8px;
    width: 100%;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 10px 10px;
  }
  &__price {
    font-weight: 900;
    font-size: 18px;
    line-height: 27px;
    color: #f21818;
  }
  &__id {
    font-weight: 900;
    font-size: 20px;
    line-height: 27px;
  }
  &__place {
    font-weight: 900;
    font-size: 16px;
    line-height: 27px;
    color: #a7a7a7;
  }
  &__btn {
    border: 1px solid rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    transition: all 0.2s ease;

    &:active {
      transition: all 0.2s ease;
      transform: translateY(1px);
    }
  }
  &__btn-img {
    width: 28px;
    height: 36px;
  }
  &__btn-scroll {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    bottom: -30px;
    width: 66px;
    height: 66px;
    background-color: #120000;
    transition: all 0.3s ease;
    border-radius: 50%;
    &:active {
      transition: all 0.3s ease;
      transform: translateY(3px);
    }
  }
  &__btn-scrollimg {
    width: 27px;
    height: 27px;
    object-fit: cover;
  }
}
.info {
  padding: 100px 0;
  &__inner {
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
  }
  &__content {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }
  &__title {
    font-weight: 900;
    font-size: 30px;
    line-height: 35px;
    margin-bottom: 10px;
  }
  &__text {
    font-size: 25px;
    line-height: 35px;
    margin-bottom: 2px;
  }
  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
  &__item {
    display: flex;
    column-gap: 50px;
    align-items: center;
  }
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 65px;
    height: 65px;
    background-color: #d8e8fd;
    border-radius: 50%;
  }
  &__popup {
    position: relative;
    width: 480px;
    height: 450px;
  }
  &__popup-btn {
    opacity: 0.8;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 173px;
    height: 173px;
    background-image: url("../images/play-btn.svg");
    cursor: pointer;
  }
  &__popup-img {
    border-radius: 20px;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}
.booking {
  padding: 150px 10px 111px;
  &__inner {
    padding: 0 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__content {
    width: 640px;
    display: flex;
  }
  &__items {
    width: 640px;
    height: 382px;
    display: flex;
    justify-content: space-between;
  }
  &__item {
    position: relative;
    width: 196px;
    height: 282px;
    box-shadow: 0px -26px 4px #deebef;
    border-radius: 20px;
    transition: all 0.3s ease;
    &:hover {
      transition: all 0.3s ease;
      transform: translateY(-20%);
      height: 382px;
      .booking__item-info {
        transition: all 0.3s ease;
        opacity: 1;
        height: 100px;
        bottom: 100px;
      }
    }
  }
  &__item-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.3s ease;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 8px 23px 10px;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.25);
    box-shadow: 0px 4px 4px rgba(222, 235, 239, 0.25);
    border-radius: 0px 0px 20px 20px;
    opacity: 0;
    width: 196px;
    height: 0;
  }
  &__item-infotitle {
    text-align: center;
    font-size: 18px;
    line-height: 21px;
    color: #0e0000;
    border-bottom: 1px solid rgba(191, 191, 191, 0.75);
    padding-bottom: 5px;
    margin-bottom: 10px;
  }
  &__item-infobtn {
    display: inline-block;
    color: #fff;
    border-radius: 20px;
    font-size: 18px;
    line-height: 21px;
    padding: 10px 20px;
    background-color: #ff9100;
    transition: all 0.3s ease;
    &:hover {
      transition: all 0.3s ease;
      opacity: 0.9;
    }
    &:active {
      transition: all 0.3s ease;
      transform: translateY(1px);
    }
  }
  &__item-img {
    object-fit: cover;
  }
  &__info {
    max-width: 404px;
  }
  &__info-title {
    font-size: 41px;
    line-height: 48px;
    margin-bottom: 20px;
  }
  &__info-text {
    font-size: 18px;
    line-height: 21px;
  }
}
.airlines {
  background-color: #e5f4f7;
  padding: 60px 0;
  &__inner {
    background-color: #fff;
    border-radius: 20px;
    width: 1312px;
    height: 380px;
    padding: 48px 64px;
  }
  &__list {
    height: 185px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 30px;
  }
  &__item {
    width: 450px;
    display: flex;
    align-items: center;
    font-size: 25px;
    line-height: 29px;
  }
  &__icon {
    width: 40px;
    height: 40px;
    object-fit: cover;
    margin-right: 44px;
  }
  &__title {
    font-weight: 700;
    font-size: 25px;
    line-height: 29px;
    margin-bottom: 34px;
  }
}
.footer {
  background: #fff;
  color: #000;
  a {
    color: #000;
  }
  &__inner {
    background: #fff;
    padding-bottom: 1px;
  }
  &__wrapper {
    padding: 73px 100px;
    border-bottom: 0.8px solid #000;
  }
  &__items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 40px;
  }
  &__item {
    display: flex;
    flex-direction: column;
    max-width: 372px;
    margin-right: 20px;
  }
  &__logo {
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 25px;
    line-height: 29px;
  }
  &__item-title {
    font-size: 17px;
    line-height: 26px;
    margin-bottom: 15px;
  }
  &__item-text {
    font-weight: 400;
    line-height: 24px;
  }
  &__item-link {
    font-weight: 400;
    line-height: 30px;
  }
  &__item-sign {
    margin-top: 25px;
    font-weight: 400;
  }
  &__item-call {
    font-weight: 400;
    margin-top: 11px;
  }
  &__item-socials {
    display: flex;
    flex-direction: row;
    align-items: end;
    column-gap: 16px;
  }
  &__item-contact {
    max-width: 282px;
    .footer__item-title {
      margin-bottom: 20px;
    }
  }
  &__item-social {
    position: relative;
    width: 34px;
    height: 34px;
    background: #fff;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  &__item-img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  &__copyright {
    text-align: center;
    font-weight: 400;
    font-size: 13px;
    line-height: 25px;
    color: #ffffff;
    margin: 29px 0;
  }
}
.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
  position: absolute;
  z-index: 9;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 1000px;
  height: 600px;
  background-color: #fff;
  border: 3px solid rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  padding: 80px 80px;
  transition: all 0.5s ease;
  opacity: 1;

  &--closed {
    transition: all 0.5s ease;
    opacity: 0;
    transform: translate(-50%, -100%);
  }
  &__input {
    width: 70%;
    padding: 20px 30px;
    border-radius: 20px;
    &::placeholder {
      color: #7d7d7d;
      text-align: center;
    }
  }
  &__wrapper {
    position: fixed;
    z-index: 999;
    height: 100vh;
    width: 100%;
    background-color: rgba(191, 191, 191, 0.45);
    transition: opacity 0.3s ease;
    opacity: 1;
  }
  &__wrapper--closed {
    height: 0;
    transition: opacity 0.3s ease;
    opacity: 0;
  }
  &__btn {
    padding: 10px 30px;
    background-color: #7d7d7d;
    color: #fff;
    border-radius: 14px;
    margin-top: 20px;
    transition: all 0.3s ease;

    &:hover {
      transition: all 0.3s ease;

      opacity: 0.8;
    }
    &:active {
      transition: all 0.3s ease;
    }
  }
}
